@charset "utf-8";
/* CSS document that will be used to style the employees output file */
 
 
body
{
    background-color: lightskyblue;
}

/* Style the page headings using a class selector */
.page-heading {
	color: #f00;
	font-weight: 800;
	font-size: 2.2em;
	text-align: center;
	/* font-family: 'limelightregular'; */
}

/* Underline the page headings */
.page-heading-underline { 
	border-bottom: medium double #0BEAF5; 
}
 
/* Style the data table */
.data-table
{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	color:inherit;
}
 
/* Style the odd and even rows differently */
.data-table tr:nth-child(odd)
{background-color: #4075a8;}
.data-table tr:nth-child(even)
{background-color: #0d55ff;}
/* style the heading row differently */
.data-table tr:first-child
{
	background-color:rgba(210,123,243,1);
	text-align:center;
	font-weight:800;
	font-size:1.2em;
}
 
/* Style the page headings using a class selector */
.page-heading
{
	color: #FF0000;
	font-weight: 800;
	font-size: 2.2em;
	text-align: center;
	font-family: 'gvtimeregular';
}
.page-heading-underline { border-bottom: medium double #0BEAF5; }
 